body {
    background: #2C2B3D;
    font-family: 'JetBrains Mono', sans-serif;
}

#page {
    width: auto;
    margin: 0 99px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    gap: 64px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-size: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 101px 90px 160px;
}

main section {
    text-align: center;

    margin-left: 80px;
}

section h1 {
    font-size: 40px;

    margin-bottom: 60px;
}

section p {
    width: 604px;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #c2c2c2;
}

section span {
    color: #00BFA6;
}

a, h1, footer {
    color: #FFFFFF;
}

#line {
    width: 568px;
    height: 0;
    margin: 0 auto 27px;

    border: 1px #00BFA6 solid;

}

footer {
    text-align: center;
}

#padlock {
    position: fixed;
    left: auto;
    bottom: 0;
}